.section {
  width: 100%;
  background-color: #2a0ae0;
}

.container {
  max-width: 50%;
  clear: none;
}

.paragraph {
  height: 100%;
  max-height: 100%;
}

.paragraph-2 {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.section-2 {
  background-color: #0400ff;
}

.container-2 {
  max-width: 100%;
  min-height: 55px;
  padding-left: 138px;
  padding-right: 138px;
}

.heading {
  margin-left: auto;
  font-size: 58px;
}

.section-3 {
  width: 100vw;
  height: 100vw;
}

.div-block {
  max-width: 1200px;
  justify-content: space-between;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.button {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  font-size: 17px;
}

.button.cta-button {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  padding: 22px 52px;
  box-shadow: 0 3px 45px 23px rgba(0, 0, 0, 0.2);
}

.div-block-2 {
  grid-column-gap: 48px;
  grid-row-gap: 48px;
  align-items: center;
  display: flex;
}

.image-2 {
  display: none;
}

.div-block-3 {
  margin-top: 32px;
  position: relative;
}

.image-3 {
  width: 113%;
  border-radius: 60px;
}

.div-block-4 {
  width: 100%;
}

.div-block-4.page-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
}

.paragraph-3 {
  width: 456px;
  color: #fff;
  margin-bottom: 0;
  padding-top: 30px;
  padding-left: 50px;
  font-size: 64px;
  font-weight: 700;
  line-height: 58px;
  position: absolute;
}

.page-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.page-container.nav-container {
  margin-bottom: 32px;
}

.page-container.image-container {
  position: relative;
}

.image-4 {
  width: 50%;
  position: absolute;
  right: 5%;
}

.paragraph-4 {
  max-width: 45%;
  margin-top: 40px;
  font-size: 18px;
}

.button-2 {
  width: 240px;
  text-align: center;
  background-color: #000;
  padding-top: 26px;
  font-size: 24px;
}

.section-company {
  width: 100%;
  max-width: 1440px;
  background-color: #fefefe;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.layer_gap {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 96px 56px 288px;
  text-decoration: none;
  display: flex;
}

.frame-_content {
  width: 100%;
  grid-column-gap: 23.04px;
  grid-row-gap: 23.04px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.vectors-wrapper {
  height: 100px;
  object-fit: cover;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.group_cards {
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.item_card {
  width: 100%;
  background-color: #f9f9f9;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.frame {
  width: 100%;
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 24px;
  display: flex;
}

.container_text {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.subheader {
  color: #888a8b;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.92px;
}

.frame-2 {
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 23.04px;
  display: flex;
}

.group {
  width: 100%;
  grid-column-gap: 23.04px;
  grid-row-gap: 23.04px;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.item_card-2 {
  width: 100%;
  grid-column-gap: 57.6px;
  grid-row-gap: 57.6px;
  background-color: #f9f9f9;
  border-radius: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px;
  display: flex;
}

.group_top {
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
}

.item_icon {
  width: 48px;
  height: 48px;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  background-color: #ffe7d6;
  border-radius: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.container_text-2 {
  flex: 0 auto;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
}

.subheader-3 {
  color: #ff9a53;
  font-size: 17px;
  font-weight: 400;
  line-height: 25.92px;
}

.group_bottom {
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  display: flex;
}

.subheader-4 {
  color: #222;
  letter-spacing: -0.432px;
  font-size: 43px;
  font-weight: 400;
  line-height: 50.54px;
}

.subheader-1 {
  color: #ff9a53;
  letter-spacing: -0.432px;
  font-size: 43px;
  font-weight: 400;
  line-height: 50.54px;
}

.statistics {
  width: 100%;
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  padding: 96px 32px 96px;
  display: grid;
}

@media screen and (max-width: 768px) {
  .statistics {
    padding-bottom: 46px;
  }
}

.statistics.container {
  width: 100vw;
}

.statistics.page-container {
  grid-column-gap: 22px;
  grid-row-gap: 22px;
  grid-template-columns: 2fr 3fr;
}

.statistics-image {
  width: 100%;
  height: 100%;
  min-width: 0;
  border-radius: 10px;
}

.statistics-text-and-figures {
  height: 100%;
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  flex-direction: column;
  display: flex;
}

.statistics-text {
  background-color: #FFDDC6;
  border-radius: 8px;
  padding: 24px;
}

.paragraph-5 {
  color: #888a8b;
  margin-bottom: 32px;
}

.paragraph-6 {
  font-size: 20px;
  line-height: 1.2;
  color: #272928;
}

.statistics-colored-text {
  color: #ff9a53;
}

.div-block-5 {
  grid-column-gap: 18px;
  grid-row-gap: 18px;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.statistic-card {
  width: 100%;
  background-color: #FFDDC6;
  border-radius: 8px;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
}

.div-block-6 {
  justify-content: space-between;
  display: flex;
}

.div-block-7 {
  min-width: 48px;
  min-height: 48px;
  background-color: #ffe7d6;
  border-radius: 40px;
}

.paragraph-7,
.paragraph-8 {
  color: #ff9a53;
}

.paragraph-9 {
  font-size: 32px;
}

.paragraph-10 {
  color: #888a8b;
  font-size: 14px;
}

@media screen and (min-width: 1440px) {
  .section-company {
    justify-content: flex-start;
    align-items: flex-start;
    display: block;
  }

  .layer_gap {
    display: block;
  }

  .vectors-wrapper {
    width: 100%;
    height: 100%;
  }

  .statistics.container {
    grid-column-gap: 23px;
    grid-template-rows: 0.25fr;
    grid-auto-flow: row;
  }

  .statistics-image {
    max-height: 100%;
    display: block;
  }

  .paragraph-6 {
    font-size: 30px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1440px) {
  .statistics-image {
    max-height: 575px !important;
  }
}

@media screen and (max-width: 991px) {
  .div-block {
    margin-top: 0;
    padding: 26px 40px;
  }

  .button {
    font-size: 16px;
  }

  .button.cta-button {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-2 {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    display: none;
  }

  .image {
    width: 153px;
  }

  .image-2 {
    width: 32px;
    display: block;
  }

  .div-block-3 {
    position: relative;
  }

  .image-3 {
    border-radius: 0;
  }

  .paragraph-3 {
    max-width: 400px;
    color: #fff;
    padding-top: 20px;
    padding-left: 40px;
    font-family: Lato, sans-serif;
    font-size: 44px;
    font-weight: 900;
    line-height: 43px;
    position: absolute;
  }

  .page-container.nav-container {
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .page-container.image-container {
    padding-left: 0;
    padding-right: 0;
  }

  .image-4 {
    width: 60%;
  }

  .section-company {
    flex-direction: column;
    align-items: center;
  }

  .statistics {
    flex-direction: column;
    justify-content: center;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
  }

  .statistics.page-container {
    flex-direction: column;
    display: flex;
  }

  .statistics-image {
    height: auto;
    max-height: 500px;
    aspect-ratio: 1 / 1;
  }
}

@media screen and (max-width: 767px) {
  .div-block {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-3 {
    margin-top: 0;
    position: relative;
  }

  .image-3 {
    border-radius: 0;
  }

  .paragraph-3 {
    max-width: 246px;
    min-width: 150px;
    color: #fff;
    margin-bottom: 0;
    padding-top: 32px;
    padding-left: 40px;
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .page-container.nav-container {
    margin-bottom: 0;
  }

  .page-container.image-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .statistics {
    padding-left: 24px;
    padding-right: 24px;
  }

  .statistics-image {
    max-height: 500px;
  }

  .paragraph-6 {
    font-size: 20px;
    line-height: 1.2;
  }

  .div-block-5 {
    flex-direction: column;
  }
}

@media screen and (max-width: 479px) {
  .div-block {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-3 {
    height: 381px;
    margin-top: 0;
  }

  .image-3 {
    height: 381px;
    object-fit: cover;
    border-radius: 0;
  }

  .paragraph-3 {
    width: 502px;
    max-width: 274px;
    padding-left: 20px;
    font-size: 36px;
  }

  .page-container {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .page-container.image-container {
    position: relative;
  }

  .image-4 {
    width: 88%;
    top: 140px;
    left: auto;
    right: 6%;
  }

  .statistics {
    padding-left: 16px;
    padding-right: 16px;
  }

  .paragraph-6 {
    font-size: 22px;
    line-height: 28px;
  }
  git .paragraph-9 {
    font-size: 36px;
  }

  .paragraph-10 {
    font-size: 16px;
  }
}
