@import url("./fonts/css/space-grotesk.css");
@import url("./fonts/css/museo-sans.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  background-color: #fefefe;
  font-family: generalFont;
}

h1, h2, h3, h4, h5 {
  font-family: generalFont;
}

p, a {
  font-family: "MuseoSans";
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.lazyLoadImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.font-general {
  font-weight: 500;
  font-family: generalFont;
}

.space-grotesk-medium {
  font-weight: 500;
  font-family: "SpaceGrotesk-Medium";
}
.space-grotesk-semibold {
  font-weight: 600;
  font-family: "SpaceGrotesk-Medium";
}

.museo-sans {
  font-family: "MuseoSans";
}

.inter {
  font-family: "Inter", sans-serif;
}

html.lenis {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Styles for the Phone number Input */
input[type="tel"],
.p-inputnumber-input {
  @apply bg-[#F5FAF7] border-[#C3DECE] border p-[10px] mt-[8px] rounded-[8px] focus:outline-none w-full museo-sans;
}

.engineering input[type="tel"], 
.engineering .p-inputnumber-input {
  @apply bg-[#FFBC8C] bg-opacity-5 border-[#FFBC8C] ;
}

.consulting input[type="tel"], 
.consulting .p-inputnumber-input {
  @apply bg-[#CAB6F4] bg-opacity-5 border-[#CAB6F4];
}
.p-inputnumber {
  @apply w-full;
}

.error input,
.consulting .error input,
.engineering .error input,
.error select,
.error textarea {
  border-color: #fe3514;
  transition: border-color 0.3s;
}

.greyed-out {
  filter: grayscale(100%);
}
.lazyLoadImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.lazyLoadImageContainer.home-section-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 28px;
}


@font-face {
  font-family: generalFont;
  src: url('./fonts/tt_firs_neue/TT Firs Neue Trial Medium.ttf')
}


@font-face {
  font-family: generalFont_mid;
  src: url('./fonts/tt_firs_neue/TT Firs Neue Trial Light.ttf')
}
